[tool.poetry]
name = "tts-wrapper"
version = "0.5.1"
description="A hassle-free Python library that allows one to use text-to-speech APIs with the same interface"
authors = ["Giulio Bottari <giuliobottari@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.9"
requests = "2.22.0"
google-cloud-texttospeech = "0.5.0"
boto3 = "1.11.3"
ibm-watson = "4.3.0"

[tool.poetry.dev-dependencies]
pytest = "^6.2.1"
pytest-mock = "^3.5.1"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

