atomicwrites==1.4.0; python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.4.0"
attrs==21.4.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
black==22.3.0; python_full_version >= "3.6.2"
boto3-stubs==1.24.15; python_version >= "3.6"
botocore-stubs==1.27.15; python_version >= "3.6"
click==8.1.3; python_version >= "3.7" and python_full_version >= "3.6.2"
colorama==0.4.5; sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.6.2" and platform_system == "Windows"
coverage==6.4.1; python_version >= "3.7"
iniconfig==1.1.1; python_version >= "3.7"
mypy-extensions==0.4.3; python_full_version >= "3.6.2" and python_version >= "3.6"
mypy==0.961; python_version >= "3.6"
packaging==21.3; python_version >= "3.7"
pathspec==0.9.0; python_full_version >= "3.6.2"
platformdirs==2.5.2; python_version >= "3.7" and python_full_version >= "3.6.2"
pluggy==1.0.0; python_version >= "3.7"
py==1.11.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
pyjwt==1.7.1
pyparsing==3.0.9; python_full_version >= "3.6.8" and python_version >= "3.6"
pytest-cov==3.0.0; python_version >= "3.6"
pytest-mock==3.7.0; python_version >= "3.7"
pytest==6.2.5; python_version >= "3.6"
toml==0.10.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
tomli==2.0.1; python_version < "3.11" and python_full_version >= "3.6.2" and python_version >= "3.7" and python_full_version <= "3.11.0a6"
types-boto3==1.0.2
types-requests==2.27.31
types-urllib3==1.26.15
typing-extensions==4.2.0; python_version < "3.10" and python_full_version >= "3.6.2" and python_version >= "3.7"
