atomicwrites==1.4.0; sys_platform == "win32"
attrs==20.3.0
boto3==1.11.3
botocore==1.14.17
cachetools==4.2.0
certifi==2020.12.5
chardet==3.0.4
colorama==0.4.4; sys_platform == "win32"
docutils==0.15.2
google-api-core==1.24.1
google-auth==1.24.0
google-cloud-texttospeech==2.2.0
googleapis-common-protos==1.52.0
grpcio==1.34.1
ibm-cloud-sdk-core==1.5.1
ibm-watson==4.3.0
idna==2.8
iniconfig==1.1.1
jmespath==0.10.0
libcst==0.3.16
mypy-extensions==0.4.3
packaging==20.8
pluggy==0.13.1
proto-plus==1.13.0
protobuf==3.14.0
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyjwt==2.0.0
pyparsing==2.4.7
pytest==6.2.1
pytest-mock==3.5.1
python-dateutil==2.8.1
pytz==2020.5
pyyaml==5.3.1
requests==2.22.0
rsa==4.7; python_version >= "3.6"
s3transfer==0.3.4
six==1.15.0
toml==0.10.2
typing-extensions==3.7.4.3
typing-inspect==0.6.0
urllib3==1.25.11
websocket-client==0.48.0
